html, body {
  margin: 0;
}

#board-container {
  margin: 0 auto;
}

#board-container .resetter {
  margin: 0 auto;
}

#board {
  width: 256px;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  margin: 0 auto;
}

.tile, .resetter {
  width: 16px;
  height: 16px;
}

.tile.blank {
  background-image: url("assets/blank.ico");
}

.tile.bomb {
  background-image: url("assets/bomb.ico");
}

.tile.eight {
  background-image: url("assets/eight.ico");
}

.tile.five {
  background-image: url("assets/five.ico");
}

.tile.flagged {
  background-image: url("assets/flagged.ico");
}

.tile.four {
  background-image: url("assets/four.ico");
}

.tile.one {
  background-image: url("assets/one.ico");
}

.tile.seven {
  background-image: url("assets/seven.ico");
}

.tile.six {
  background-image: url("assets/six.ico");
}

.tile.three {
  background-image: url("assets/three.ico");
}

.tile.two {
  background-image: url("assets/two.ico");
}

.tile.zero {
  background-image: url("assets/zero.ico");
}

.resetter.smile {
  background-image: url("assets/smile.ico");
}

.resetter.dead {
  background-image: url("assets/dead.ico");
}
